/* sky */
.sky {
	width: 100%;
	height: 30%;
	/* background: rgba(12, 12, 12, 0.5); */
	position: relative;
	top: 1%;
}
#stella1,
#stella2 {
	position: relative;
	width: 150px;
	height: 150px;
	background: url(../stella.png);
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	opacity: 0;
}

.animate__animated.animate__fadeOutBottomLeft {
	animation-name: fadeInTopRight;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.animate__animated.animate__fadeOutBottomLeft2 {
	animation-name: fadeInTopRight;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
