html,
body {
	height: 100vh;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(../Photos_Desktop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
/* 主畫面 */
/* 音樂播放 */
.control {
	width: 30%;
	height: 30%;
	position: absolute;
	top: 5%;
	left: 5%;
	background: rgba(12, 12, 12, 0.5);
	z-index: 5;
}

.clock {
	font-family: "Share Tech Mono", monospace;
	position: absolute;
	bottom: 4%;
	left: 15%;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
p {
	margin: 0;
	padding: 0;
}
span {
	font-size: 1.5rem;
}
#date {
	letter-spacing: 0.1em;
	font-size: 2rem;
}
#time {
	letter-spacing: 0.1em;
	font-size: 6rem;
}
/* 城堡 */
.castle {
	width: 40%;
	height: 45%;
	background: rgba(12, 12, 12, 0.5);
	position: absolute;
	top: 20%;
	right: 10%;
	z-index: 5;
}

.music {
	position: absolute;
	bottom: 1px;
	right: 5%;
}
